<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8 ">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insights Hub.</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
      
<body>
    

    <div class="header">
        <a href='#' class="logo">Insights.</a>

        <div class="side-nav">
            <div class="user">
                <img src="setting.png" class="user=img">
                <div>
                    <h2>Insights.</h2>
                    <p>IIT Ropar</p>
                    
                    </div>
                    <img src="star.png" class="star-img">
                

            </div>
<ul>
    <li><img src="home.png"><p>Home</p></li>
    <li><img src="projects.png"><p>Add Projects</p></li>
    <li><img src="projects.png"><p>Your Projects</p></li>
    <li><img src="community.png"><p>Community</p></li>
    <li><img src="feedbackform.png"><p>Feedback Form</p></li>
    <li><img src="aichatbot.png"><p>AI Chatbot</p></li>
    
</ul>
<ul>
    <li><img src="logout.png"><p>Log Out</p></li>
</ul>
    </div>
    </div>
    

    </header>
        
           
    
       
    </div>
</div>

</body>
</html>