<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8 ">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insights Hub.</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <header class="header">
        <a href='#' class="logo">Insights.</a>

        <nav class ="navbar">
            <a href="#home" class="active">Home</a>
            <a href ="#Addprojects">Add Projects</a>
            <a href ="6containers.html" target="_blank">Your Projects</a>
            <a href ="#Community">Community</a>
            <a href ="#Feedbackform">Feedback Form</a>
            <a href ="#AIChatbot">AI Chatbot</a>
            <a href ="#Logout">Log Out</a>

        </nav>

    </header>

    <section class="home">
        <div class="home-content">
            <h1>Hi, we are Insights Hub.</h1>
            <h3>Dedicated to Insightful Sentimental Analysis.</h3>
            <p>Specialising in analysing Amazon product reviews, LinkdeIn posts and more!</p>
            <div class="btn-box">
                 <a href="https://www.youtube.com/" target="_blank">Youtube</a>
                 <a href="https://www.linkedin.com" target="_blank">LinkedIn</a>
                 <a href="https://www.amazon.com" target="_blank">Amazon</a>
                 

            </div>

        </div>

        <div class="home-sci">
            <a href="#"><i class='bx bxl-amazon'></i></a>
            <a href="#"><i class='bx bxl-youtube'></i></a>
            <a href="#"><i class='bx bxl-linkedin'></i></a>
            
        </div>
        
        <span class="home-imgHover"></span>
    </section>
   
</body>
</html>